 * {
        margin: 0;
        padding: 0;
        font-weight: normal;
        text-decoration: none;
 }
 ol, ul {
        list-style: none;
 }
  del {
        text-decoration: line-through;
    }

body{
    font-family:'poppinsregular';
}
.wrapper {
    margin:0 auto;
    max-width:1150px;
    
    
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'intersemi_bold';
    src: url('../fonts/inter-semibold-webfont.woff2') format('woff2'),
         url('../fonts/inter-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'interbold';
    src: url('../fonts/inter-bold-webfont.woff2') format('woff2'),
         url('../fonts/inter-bold-webfont.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;      
}
header div.main{
    display:flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    flex-wrap: wrap;
}
header div.main div.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'intersemi_bold',Arial, Helvetica, sans-serif;
}
header div.main div.left h1{
    width:100px;
    padding:20px 10px;

}
header div.main div.left h1 a{
    display:block;
    color:#000;
}
header div.main div.left h1 a img{
    display:block;
    width:100%;
}


header div.main nav.middle{
    display:flex;
    align-items: middle;
    flex-wrap: wrap;
    color:#fff;

}
header div.main nav.middle ul{
    display:flex;
    align-items: center;
    padding:5px 10px;
    flex-wrap: wrap;

}
header div.main nav.middle ul li{
    margin-right: 40px;
    color:#fff;

}
header div.main div.right{
    display :flex;
    align-items: center;
    justify-content: space-between;
    width: 349px;
    flex-wrap: wrap;

}
header div.main div.right-one img{
    width:15%;
    display:none;
}


header div.main div.right ul{
   display:flex;
   justify-content:space-between ;
   align-items: center;
   gap: 13px;
   flex-wrap: wrap;
}
header div.main div.right form{
    align-items: right;
    border:none;
    


}
header div.main nav.middle ul li a{
    color:#000;
}
header div.main div.right form input {
    background-image: url(../images/search.svg);
    background-position: 228px center;
    background-repeat: no-repeat;
    padding-left: 17px;
    height: 30px;
    width: 240px;
    border:none;
    background-color:#f5f5f5 ;
   
}

header div.right ul li img{
    margin-right: 0;

}
#home{
	padding-top:15px;	
    border-radius: 10px;
}
#home section.container{
    display:flex;
    height: 59vh;
    color:#fff;
  

}
#home section.container div.left{
    width:50%;
    height: 55vh;
    background-color: black;
    color: white;
    padding-left: 50px;

}
#home section.container div.left_one{
    padding-top: 130px;
    color:#fff;
  
}
#home section.container div.left_one h1{
    
    font-family: 'intersemi_bold';
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.04em;
    text-align: left;
    color:#fff;
    
}
#home section.container div.left_one a{

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;    
    color:#fff;
   

}
#home section.container div.left_one a img{
    color:white;
    margin-right: 15px;
    margin-top: 20px;

}

#home section.container div.left_one h1 a{
    color:white;

}



#home section.container div.left div.left_one{
  
    align-items: center;
    gap: 20px;
}

#home section.container div.right{
    width:80%;
    height: 55vh;
    background-color: black;
    display: flex;
    justify-content: center;

}
#home section.container div.right img{
    width:100%;
    height:55vh;
}
#category{
}
#category div.cat div{
    margin-left: 10px;
    width:20px;
    height: 40px;
    background-color: #DB4444;
}
#category h6{
    color:#DB4444;
    font-family: 'poppinsregular';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-top: -25px;
    margin-left: 30px;
    
}
#category div h1{
        
    font-family: 'intersemi_bold';
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;

}
#category section.container{


}
#category section.container ul{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;

}
#category section.container ul li{
    width:150px;
    height: 145px;
    border: 1px;
}
#category section.container h5{
    font-family: "poppinsregular";
    
}


#category section.container ul li{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#category section.container ul {
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
#products{
    margin-top: 50px;
    
}
#products div.main div.top ul{

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     width: 100%;
     flex-wrap: wrap;
    
}
#products div.main div.bottom ul{
    display:flex;
    align-items:center ;
    justify-content: space-between;
    flex-wrap: wrap;

}
 #products div.main div.top ul li div.bg_one{
    background-image: url(../images/dogfood.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-color:#F5F5F5;
    width: 254px;
    position: relative;
    height: 250px;
    background-position: 24px 34px ;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
 }
 #products div.main div.top ul li div.bg_two{
    background-image: url(../images/camera.png);   
    background-repeat: no-repeat;
    background-size: 80%;
    background-color:#F5F5F5;
    width: 254px;
    position: relative;
    height: 250px;
    background-position: 24px 34px ;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    
 }
#products div.main div.top ul li div.bg_three{
    background-image: url(../images/laptop.png);    
    background-repeat: no-repeat;
    background-size: 80%;
    background-color:#F5F5F5;
    width: 254px;
    position: relative;
    height: 250px;
    background-position: 24px 34px ;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.top ul li div.bg_four{
    background-image: url(../images/curology.png);      
    background-repeat: no-repeat;
    background-size: 80%;
    background-color:#F5F5F5;
    width: 254px;
    position: relative;
    height: 250px;
    background-position: 24px 34px ;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
}
    
#products div.main div.bottom ul li div.bg_five{
    background-image: url(../images/car.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-color:#F5F5F5;
    width: 254px;
    position: relative;
    height: 250px;
    background-position: 24px 34px ;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
  
}
#products div.main div.bottom ul li div.bg_six{
    background-image: url(../images/shoes.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-color:#F5F5F5;
    width: 254px;
    position: relative;
    height: 250px;
    background-position: 24px 34px ;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.bottom ul li div.bg_seven{
    background-image: url(../images/joystick.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-color:#F5F5F5;
    width: 254px;
    position: relative;
    height: 250px;
    background-position: 24px 34px ;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;

}
#products div.main div.bottom ul li div.bg_eight{
    background-image: url(../images/shirt.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-color:#F5F5F5;
    width: 254px;
    position: relative;
    height: 250px;
    background-position: 24px 34px ;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.top ul li div.bg_one img.heart{
    position: absolute;
    left: 84%;
    top: 4%;
}
#products div.main div.top ul li div.bg_one img.eye{
    position: absolute;
    left: 84%;
    top: 19%;
}
#products div.main div.top ul li div.bg_one a.button{
    display: none;
}
#products div.main div.top ul li div.bg_one:hover a.button{
    background: black;
    height: 32px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.top ul li div.bg_two img.heart{
    position: absolute;
    left: 84%;
    top: 4%;
}
#products div.main div.top ul li div.bg_two img.eye{
    position: absolute;
    left: 84%;
    top: 19%;
}
#products div.main div.top ul li div.bg_two a.button{
    display: none;
}
#products div.main div.top ul li div.bg_two:hover a.button{
    background: black;
    height: 32px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.top ul li div.bg_three img.heart{
    position: absolute;
    left: 84%;
    top: 4%;
}
#products div.main div.top ul li div.bg_three img.eye{
    position: absolute;
    left: 84%;
    top: 19%;
}
#products div.main div.top ul li div.bg_three a.button{
    display: none;
}
#products div.main div.top ul li div.bg_three:hover a.button{
    background: black;
    height: 32px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.top ul li div.bg_four img.heart{
    position: absolute;
    left: 84%;
    top: 4%;
}
#products div.main div.top ul li div.bg_four img.eye{
    position: absolute;
    left: 84%;
    top: 19%;
}
#products div.main div.top ul li div.bg_four a.button{
    display: none;
}
#products div.main div.top ul li div.bg_four:hover a.button{
    background: black;
    height: 32px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.bottom ul li div.bg_five img.heart{
    position: absolute;
    left: 84%;
    top: 4%;
}
#products div.main div.bottom ul li div.bg_five img.eye{
    position: absolute;
    left: 84%;
    top: 19%;
}
#products div.main div.bottom ul li div.bg_five span.new{
    color: white;
    padding: 7px 11px;
    background: #00FF66;
    position: absolute;
    top: 10px;
    left: 10px;


}
#products div.main div.bottom ul li div.bg_seven span.new{
    color: white;
    padding: 7px 11px;
    background: #00FF66;
    position: absolute;
    top: 10px;
    left: 10px;


}
#products div.main div.bottom ul li div.bg_five a.button{
    display: none;
}
#products div.main div.bottom ul li div.bg_five:hover a.button{
    background: black;
    height: 32px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.bottom ul li div.bg_six img.heart{
    position: absolute;
    left: 84%;
    top: 4%;
}
#products div.main div.bottom ul li div.bg_six img.eye{
    position: absolute;
    left: 84%;
    top: 19%;
}
#products div.main div.bottom ul li div.bg_six a.button{
    display: none;
}
#products div.main div.bottom ul li div.bg_six:hover a.button{
    background: black;
    height: 32px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.bottom ul li div.bg_seven img.heart{
    position: absolute;
    left: 84%;
    top: 4%;
}
#products div.main div.bottom ul li div.bg_seven img.eye{
    position: absolute;
    left: 84%;
    top: 19%;
}
#products div.main div.bottom ul li div.bg_seven a.button{
    display: none;
}
#products div.main div.bottom ul li div.bg_seven:hover a.button{
    background: black;
    height: 32px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.bottom ul li div.bg_eight img.heart{
    position: absolute;
    left: 84%;
    top: 4%;
}
#products div.main div.bottom ul li div.bg_eight img.eye{
    position: absolute;
    left: 84%;
    top: 19%;
}
#products div.main div.bottom ul li div.bg_eight a.button{
    display: none;
}
#products div.main div.bottom ul li div.bg_eight:hover a.button{
    background: black;
    height: 32px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products div.main div.top div.detail p.name{
    margin-bottom: 1%;
}
#products div.main div.top div.detail div.price {
    display: flex;
    gap: 1%;
    align-items: center;
    flex-wrap: wrap;

}
#products div.main div.top div.detail div.price span{
    display: flex;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}
#products div.main div.bottom ul{
    display:flex;
    align-items:center ;
    justify-content: space-between;
    flex-wrap: wrap;
}
#products div.main div.bottom div.detail p.name{
    margin-bottom: 1%;
}
#products div.main div.bottom div.detail div.price{
    display: flex;
    gap: 1%;
    align-items: center;

}
#products div.main div.bottom div.detail div.price span{
    display: flex;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;


}
#products hr.line{
    border: .5px solid lightgray;
    margin-top: 50px;
    opacity:03; 
} 
#products div.main div.button{
    
    display: flex;
    justify-content: center;    
    padding-top: 5px;
    margin-top: 30px;
    width:100%;
    flex-wrap: wrap;
    
    
}
#products div.main div.button button{
    background: #DB4444;
    padding: 15px 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color:#FAFAFA;
    font-size:16px medium;
    padding-right: 48px;
    padding-left: 48px;
    line-height: 24px;
    border:none;
    
}

 
#services ul{
    display:flex;
    gap:7%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;

}
#services h5{
    font-family: 'poppinsbold';
    font-size: large;
    align-items: center;

}
#services {
    padding-top: 100px;
    font-size: small;
    padding-bottom: 30px;
}

#services ul{
    display:flex;
    gap: 5px;
    margin: 0 auto;
    flex-wrap: wrap;

   
}
#services ul li img{
    margin-left: 20px;
    border-radius: 50%;
    align-items: center;
    padding:12px;
    

}
#services ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#services h5{
    font-family: 'poppinsregular';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color:#000;

}
#services p{
    font-family: 'poppinsregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

}
footer{
    background-color: #222;
    color:#fff;
    padding-top:60px;
    padding-bottom: 40px;
	position: relative;
   

}
footer div.main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer div.subscribe{
    
    font-family: 'poppinsbold';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;


}
footer div.subscribe h1{
    
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    width:118px;
    height:24px;
    padding-bottom: 10px;
    

}
footer div.subscribe h5{

    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    
}
footer div.subscribe p{
    font-family: Poppins;
    font-size: 18px;
    height:24px;  
     
 }
footer div.main div.subscribe form{
    width: 217px;
    height:48px;
    margin-top: 20px;
}
footer div.main div.subscribe form input{
  
    padding: 12px 0px 12px 0px;
    border: 1.5px solid white;
    opacity: 0px;  
    color:#fff;
    background-color: #000;
    background-image: url(../images/emailarrow.svg);
    background-repeat: no-repeat;   
    gap: 12px;
    background-position: right;
    padding-right:0px;
    font-size: 15px;
 
}
footer div.main div.subscribe form input ::placeholder{
    
    color:#fff;
    font-family: 'poppinsregular';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background-color: #000;
}
footer div.subscribe button{

}
footer div.support{
    


}
footer div.support h3{
    font-family: 'poppinsregular';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    padding-bottom: 15px;
  



}
footer div.support p{

    color:#fff;
    font-family: 'poppinsregular';
    font-size: 16px;
    font-weight: 400;
    line-height:28px ;
    text-align: left;
}
footer div.support a{
    color:#fff;
}
footer div.support ul li a{
    line-height:28px;
}

footer div.account{
    color:#fff;    
    font-family: 'poppinsregular';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;


}
footer div.main div.account h3{
    width:85px;
    height:28px;
    font-family: 'poppinsregular';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 15px;
  
   

}
footer div.main div.account ul{
  
}
footer div.main div.account ul li{

}
footer div.account ul li a{
    color:#fff;    
    font-family: 'poppinsregular';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
footer div.quick-link{
    font-family: 'poppinsregular';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin-top: 20px;

}
footer div.quick-link h3{
    font-family: 'poppinsregular';
     font-size: 20px;
     font-weight: 500;
     line-height: 28px;
     text-align: left;
     margin-bottom: 20px;
}
footer div.quick-link ul li a{
    color:#fff;
    font-family: 'poppinsregular';
    font-size: 16px;


}
footer div.quick-link ul{
    color:#fff;
}
footer div.quick-link ul li{
    color:#fff;

}
footer div.main div.download-app{
    font-family: 'poppinsregular';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;


}
footer div.main div.download-app h3{
    font-family: 'poppinsregular';
    margin-top: 55px;
    margin-bottom:30px;
}
footer div.download-app p{
    font-family: 'poppinsregular';
     font-size: 12px;
     font-weight: 500;
     line-height: 18px;
     text-align: left;
     font-size: 15px;


}
footer div.main div.download-app div.app-buttons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   

}
footer div.download-app div.app-buttons div.app-links{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    
}
footer div.download-app div.social ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 20px;
    flex-wrap: wrap;
    

}

footer div.bottom{
    margin-bottom: 40px;   
    width:100%;
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    margin-top: 88px;
    color:#FFFFFF;
    opacity: 0.3;
    border-top:2px solid grey;
    flex-wrap: wrap;
}








@media all and (max-width:1024px){

    #category {
        margin-left: 11px;
    }
}

@media all and (max-width:900px){
    #products div.main{
        align-items:center;
    }
    #products div.main div.top ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 83%;
        flex-wrap: wrap;
        margin:0 auto;
           
    } 
    #products div.main div.bottom ul{
        display: flex;
        justify-content: space-evenly;
        align-items: right;
        width: 83%;   
        flex-wrap: wrap;    
        margin:0 auto;
    } 
    #services ul {
        display: flex;
        gap: 7%;
        flex-direction: row; 
        border-radius: 10px;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    
   #category section.container ul {
  
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            width: 64%;
        }
    
    #home section.container div.right {
        width: 67%;
        height: 55vh;
        background-color: black;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #home section.container div.right{
        width:75%;
        height: 55vh;
        background-color: black;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width:62%;
        margin:0 auto;
    }
    footer div.quick-link{
        width:max-content
    }
    footer div.main div.account{
        width:max-content
}
   
}
@media all and (max-width:768px){
  
   header div.main nav.middle ul li{
         display:none;
   }
   header div.main div.right-one{
    width: 7%;
   }
   header div.main div.right div.right-one img{
        width: 37px;
        display:block;
    }
    header div.main div.right {
        display: flex;
        align-items: center;
        gap: 3px;
        justify-content:start;
        width: 349px;
        flex-wrap: wrap;
    }

   #category section.container ul {
         display: flex;
         gap: 2px;
         width: 62%;
    }
    header div.main div.right ul {
         display: none;
    }
    #home section.container div.left_one h1{
    
         font-family: inter;
         font-size: 28px;
         font-weight: 600;
         line-height: 30px;
         letter-spacing: 0.04em;
         text-align: left;
         color:#fff;
    
    }
    #home section.container div.left_one{
        width:100%;
    }
  
    footer div.main{
        flex-wrap: wrap;
    }
    footer div.main div.download-app{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width:100%;
        flex-wrap: wrap;
    }
    footer div.download-app div.social ul {
        display: flex;
        justify-content: space-between;        
        align-items: center;
        padding-top: 20px;
        flex-wrap: wrap;
        gap: 30px;
    }
}
@media all and (max-width:600px){
        header div.main div.right div.right-one img{
        width: 37px;
        display:block;
         }
        header div.main nav.middle ul li{
            display:none;
        }
        #category section.container ul {
            display: flex;
            gap: 2px;
            width: 80%;
            flex-wrap: wrap;
        }
    
        footer.account{
            width:100%;
        }
        footer div.main {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            width:40%;
            margin:0 auto;
        }
       
    }
 @media all and (max-width:480px){
        #home section.container div.right{
                display:none;
        }
      
        #home section.container div.left div.left_one{
                font-size: larger;
         }
        
         #home section.container div.right {
            width: 50%;
            height: 50vh;
            background-color: black;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        #home div.container div.right a{
            display:flex;
            align-items: end;
        }
        section.container div.right img {
            width: 100%;
            height: 50vh;
        }
        #products div.main ul li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-left: 10px;
            width: 100%;       
            flex-wrap: wrap;
        } 
        #category section.container ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

        }
        #home section.container div.left div.left_one{
            font-size: 10px;
        }
        footer div.download-app div.app-buttons div.app-links{
            display:flex;
            justify-content: space-between;
            flex-direction: column;
            align-items:center;
        }

    }
@media all and (max-width:360px){
          
     header div.main nav.middle ul li{
            display:none;
     }
    header div.main div.right-one{
            width: 7%;
    }
    header div.main div.right div.right-one img{
             width: 37px;
             display:block;
    }
    header div.main div.right {
             display: flex;
             align-items: center;
             gap: 3px;
            justify-content:start;
             width: 349px;
             flex-wrap: wrap;
    }
    footer div.main div.download-app div.social ul{
            gap:10px;
        }
    footer div.main div.download-app h3 {
            font-size: smaller;
        }

    }
@media all and (max-width:320px){

        #home section.container div.right{
            display:none;
        }
        #home section.container div.right a img{
            display:none;
            background-color: #000;
        }
      
        #home section.container div.left{
            width:100%;
            align-items: center;
        }
        #home section.container div.left div.left_one{
            font-size: larger;
        }
        #home section.container div.left div.left_one h1{
            font-size: 40px;
            line-height: inherit;
        }
        #category div.cat h1{
            font-size: larger;
        }
     
        footer div.bottom p{
            font-size: small;

        }
        footer div.main div.download-app {
            width:100%;
            display:flex;
            justify-content: center;
            margin:0 auto;


        }
        footer div.main div.download-app div.social ul{
            gap:10px;
        }
      
        footer div.main div.download-app h3 {
            font-size: medium;
        }
        footer div.main div.download-app p {
            font-size: small;
        }
        
        footer div.main div.download-app div.app-buttons img {
            width: 50%;
            margin: 0 auto;
        }
        footer section.container{
            display:flex;
            justify-content:space-between;
            align-items: center;
        }
        
       
     
       

    }

    






 
    
   





